<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>
<body>
  <h1>SignUp</h1>
  <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input th:field="*{name}" type="text" name="name" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
    <label for="email">E-mail</label>
    <input th:field="*{email}" type="text" name="email" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>
    <button type="submit">Add New User</button>
  </form>
</body>
</html>